// importing sass

@import "partials/_base.scss";

// global

// * {
//     transition: color .3s, transform .3s, background .3s;
// }

// core
.timeline-group {
    padding: 40px;
}
.timeline-group:before,
.timeline-group:after {
    content: "";
    position: absolute;
    background: $color-white;
}
.timeline-group-left:before {
    right: -2px;
    width: 4px;
    height: 100%;
}
.timeline-group-right:before {
    left: -2px;
    width: 4px;
    height: 100%;
}
.timeline-group-left:after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 20px;
    right: -10px;
}
.timeline-group-right:after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 20px;
    left: -10px;
}
.preloader {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1000;
}
.em1 {
    font-size: 1em !important;
}
.anchor {
    cursor: pointer;
}
a h6 {
    color: $color-white;
    text-decoration: none;
}
body {
    font-size: 12px;
    font-family: $font-primary;
    font-weight: $font-weight;
    background: $color-primary;
    .cta i {
        margin-right: 10px;
    }
    .row {
        padding-left: calc((100% - 1170px) / 2);
        padding-right: calc((100% - 1170px) / 2);
    }
    .row-header {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .team-photo {
        @include border-radius(50%);
        margin-bottom: 20px;
        max-width: 200px;
        margin: auto;
        object-fit: cover;
        overflow: hidden;
    }
    .hidden-content {
        display: none;
    }
    .team-photo img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .faq-group {
        display: none !important;
    }
    .content-group {
        display: block;
    }
    .success-overlay {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 102;
    }
    .success-overlay.success-content {
        background: $color-primary-transparent;
    }
    .overlay-close {
        top: 25px;
        right: 25px;
        position: absolute;
        color: $color-white;
        z-index: 2;
        cursor: pointer;
    }
    .row-main {
        color: $color-white;
        position: relative;
    }
    .row-footer {
        position: relative;
    }
    .logo {
        width: 100%;
        max-width: 180px;
    }
    .row-main.row-main-first {
        padding-top: 200px;
    }
    .row-alt {
        background: $color-white;
        color: $color-primary;
        position: relative;
    }
    .faq-question {
        position: relative;
        padding-left: 40px;
    }
    .faq-question-first {
        padding-left: 0;
        text-decoration: underline;
        cursor: pointer;
    }
    .atf-coins {
        position: absolute;
        bottom: 0;
        width: 300px;
    }
    .atf-coins-1 {
        right: 0;
    }
    .atf-coins-2 {
        left: 0;
    }
    .atf-question {
        display: none;
        position: absolute;
    }
    .atf-question-1 {
        bottom: 20px;
        left: 100px;
    }
    .atf-question-2 {
        bottom: 10px;
        left: 160px;
    }
    .atf-question-3 {
        bottom: 20px;
        right: 160px;
    }
    .atf-question-4 {
        bottom: 40px;
        left: 260px;
    }
    .atf-question-5 {
        bottom: 10px;
        right: 260px;
    }
    .atf-question-6 {
        bottom: 40px;
        right: 200px;
    }
    .faq-question .faq-expand {
        position: absolute;
        top: 0;
        left: 10px;
        bottom: 0;
        padding: 5px;
        margin: auto;
        margin-top: -18px;
        cursor: pointer;
        transform-origin: center;
        @include transition($transition);
    }
    .faq-answer {
        max-height: 0;
        @include transition($transition);
        overflow: hidden;
    }
    .faq-question.active .faq-expand {
        @include transform(rotate(180deg));
    }
    .faq-question.active + .faq-answer {
        max-height: 1000px;
    }
    .atf-image {
        margin-left: 0;
        width: 120px;
    }
    .row-footer * {
        color: $color-primary;
    }
    .row-footer {
        background: $color-secondary;
    }
    .border-right:after {
        content: "";
        position: absolute;
        right: 0;
        height: 500px;
        top: 300px;
        @include transform(translateY(-50%));
        margin: 0 auto;
        width: 1px;
        background: $color-primary-transparent;
    }
    &.faqs {
        .row-strip * {
            color: $color-white;
        }
        .row-strip {
            background: $color-primary;
        }
        .row-footer * {
            color: $color-secondary;
        }
        .row-footer {
            background: $color-primary;
        }
        .border-right:after {
            background: $color-secondary-transparent;
        }
    }
    .row-height {
        min-height: 90vh;
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .row-height-sm {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    .row-height-no-min {
        min-height: 0;
    }
    .row-footer {
        padding-bottom: 100px;
    }
    .row-header {
        .social-links {
            a {
                position: relative;
                right: 0;
                margin: auto;
                display: inline-block;
                margin-left: 10px;
                float: right;
                padding: 5px;
            }
        }
    }
    .row-header {
        left: 0;
        height: 80px;
        padding-top: 20px;
        padding-bottom: 20px;
        position: fixed;
        z-index: 100;
        background: $color-primary;
    }
    .row-header .cta {
        position: relative;
        right: 0;
        margin: auto;
        display: inline-block;
        margin-left: 10px;
        float: right;
    }
    .cta + .cta {
        margin-left: 10px;
    }
    .headlines {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .headlines .cta {
        margin-top: 40px;
    }
    .sm-margin .cta {
        margin-top: 10px;
    }
    .item-group {
        padding: 20px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        border-radius: 3px;
        h5 {
            line-height: 25px;
        }
    }
    .underline {
        text-decoration: underline;
    }
    input[type="text"],
    textarea {
        padding: 15px 10px;
        border: none;
        border: 2px solid $color-white;
        @include border-radius(3px);
        width: 300px;
        color: $color-primary;
    }
    &.faqs {
        background: $color-secondary;
        .atf-question {
            display: block;
        }
        .hidden-faqs {
            display: none;
        }
        .hidden-content {
            display: block;
        }
        .faq-group {
            display: block !important;
        }
        .content-group {
            display: none !important;
        }
        .row-main-bottom:after {
            @include skew(0, 4);
        }
        .row-main-top:after {
            @include skew(0, 4);
        }
        .row-alt {
            color: $color-secondary;
        }
        .row-header {
            background: $color-secondary;
        }
        .item-group {
            border-color: $color-secondary;
        }
        input[type="text"],
        textarea {
            color: $color-secondary;
        }
        .row-strip {
            input[type="text"],
            input[type="submit"] {
                display: inline-block;
                margin-top: 10px;
                margin: auto;
                margin-bottom: 10px;
            }
        }
    }
    &.no-flow {
        overflow: hidden;
    }
}

// helper classes

.desktop-only {
    display: none;
}
.desktop-inline-only {
    display: none;
}
.mobile-only {
    display: inline-block;
}
.d-block {
    display: block !important;
}
.footer-links {
    a {
        color: $color-white;
    }
}
.social-links {
    a {
        color: $color-white;
        margin: 10px 0;
    }
}
.coming-soon {
    width: 100%;
    max-width: 300px;
    margin-top: 80px;
}
.block-inputs {
    margin-bottom: 80px;
}
.block-inputs input,
.block-inputs textarea,
.block-inputs .g-recaptcha > div {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.margin-top-0 {
    margin-top: 0;
}

// responsive

@media (max-width: 991px) {
    body {
        .timeline-group {
            padding: 0;
            padding-right: 15px;
            padding-left: 15px;
            padding-top: 40px;
            text-align: left;
        }
        .timeline-group-left:before {
            left: auto;
            right: 0;
        }
        .timeline-group-right:before {
            left: auto;
            right: 0;
        }
        .timeline-group-left:after {
            left: auto;
            right: -8px;
        }
        .timeline-group-right:after {
            left: auto;
            right: -8px;
        }
        border-right:after {
            display: none;
        }
        input[type="text"],
        textarea,
        .g-recaptcha > div {
            width: 100% !important;
        }
        form input[type="submit"] {
            width: 100% !important;
        }
        .atf-coins {
            width: 100px;
        }
        .item-wrap {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .item-group {
            padding: 0;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .mobile-only .cta {
            margin-top: 10px;
        }
        .video-thumb {
            display: none;
        }
        .row-header {
            position: relative;
            width: auto;
        }
        .logo {
            margin: auto;
            position: relative;
            display: block;
        }
        .cta + .cta {
            margin-left: 0 !important;
            margin-top: 10px !important;
        }
        .row-main-atf .cta + .cta:not(.faq-button-toggle) {
            margin-top: 40px !important;
        }
        .row-header {
            height: auto !important;
        }
        .row-height {
            min-height: 70vh;
            padding-top: 40px !important;
            padding-bottom: 40px !important;
        }
        .row-height-sm.row {
            padding-top: 40px !important;
            padding-bottom: 40px !important;
        }
        .row-footer {
            padding-bottom: 100px !important;
        }
        .join-wbi {
            float: left;
        }
        .row-header .cta {
            margin-top: 10px;
        }
        .cta,
        .cta-secondary {
            width: 100%;
        }
        .headlines {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
}
@media (min-width: 992px) {
    .row-strip {
        input[type="text"],
        input[type="submit"] {
            margin-left: 5px;
        }
    }
    .row-height:not(.row-header) {
        // display: flex;
        // align-items: center;
        // flex-direction: row;
    }
    .desktop-inline-only {
        display: inline;
    }
    .desktop-only {
        display: inline-block;
    }
    .mobile-only {
        display: none;
    }
}

// animations
@include keyframes(fadein) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@include keyframes(fadeinup) {
    0% {
        @include transform(translateY(20px));
        opacity: 0;
    }
    100% {
        @include transform(translateY(0px));
        opacity: 1;
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
a,
input,
textarea,
button,
img,
.video-thumb,
.item-group,
.g-recaptcha,
iframe,
address,
.border-right:after {
    opacity: 0;
}
.animate {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    i,
    input,
    textarea,
    button,
    img,
    .video-thumb,
    .item-group,
    .g-recaptcha,
    iframe,
    address {
        @include animation(.3s, fadeinup);
    }
    .faq-expand,
    .border-right:after {
        @include animation(.3s, fadein);
    }
    h1 {
        @include animation-delay(.1s);
    }
    h2 {
        @include animation-delay(.2s);
    }
    h3 {
        @include animation-delay(.1s);
    }
    h4 {
        @include animation-delay(.2s);
    }
    h5 {
        @include animation-delay(.1s);
    }
    h6 {
        @include animation-delay(.2s);
    }
    p,
    i,
    a,
    input,
    textarea,
    button,
    .video-thumb,
    .item-group,
    .g-recaptcha,
    iframe,
    address,
    .faq-expand,
    .border-right:after {
        @include animation-delay(.3s);
    }
    img {
        @include animation-delay(.4s);
    }
}
