$font-primary: "AvenirNextLTW01";
$font-weight: 400;

h1 {
    font-size: 4em;
    font-family: 'Calibri';
}
h2 {
    font-size: 3em;
    font-family: 'Calibri';
}
h3 {
    font-size: 2.25em;
    font-family: 'Calibri';
}
h4 {
    font-size: 2em;
    font-family: 'Calibri';
}
h5 {
    font-size: 1.75em;
    font-family: 'Calibri';
}
h6 {
    font-family: 'Calibri';
}
h6,
p {
    font-size: 1.7em;
}
p {
    font-family: 'Open Sans';
}
a, .media-wrap-link, button, input[type="text"], input[type="email"], input[type="submit"], textarea {
    font-size: 1.4em;
    font-family: 'Open Sans';
}
@media (max-width: 991px) {
    h1 {
        font-size: 3.5em;
    }
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 2.25em;
    }
}
