$color-primary: rgba(100,100,100,1);
$color-primary-transparent: rgba(100,100,100,.9);
$color-secondary: rgba(150,150,150,1);
$color-secondary-transparent: rgba(150,150,150,.9);
$color-white: rgba(240,240,240,1);
$color-white-transparent: rgba(240,240,240,.9);
$color-red: rgba(200,100,20,1);
$color-shadow: rgba(0,0,0,.5);
$color-shadow-none: rgba(0,0,0,0);
