$color-primary: rgba(0,45,114,1);
$color-primary-transparent: rgba(0,45,114,.9);
$color-secondary: rgba(79,177,233,1);
$color-secondary-transparent: rgba(79,177,233,.9);
$color-white: rgba(240,240,240,1);
$color-white-transparent: rgba(240,240,240,.9);
$color-red: rgba(200,100,20,1);
$color-shadow: rgba(0,0,0,.5);
$color-shadow-none: rgba(0,0,0,0);
