$color-primary: rgba(0,45,114,1);
$color-primary-transparent: rgba(0,45,114,.9);
$color-secondary: rgba(79,177,233,1);
$color-secondary-transparent: rgba(79,177,233,.9);
$color-tertiary: rgba(160,218,179,1);
$color-tertiary-transparent: rgba(160,218,179,.9);
$color-white: rgba(240,240,240,1);
$color-white-transparent: rgba(240,240,240,.9);
$color-white-pure: rgba(255,255,255,1);
$color-red: rgba(200,100,20,1);
$color-shadow: rgba(0,0,0,.3);
$color-shadow-none: rgba(0,0,0,0);
$color-dark: rgba(51,51,51,1);
