@font-face {
    font-family: 'AvenirNextLTW01';
    src: url('../fonts/AvenirNextLTW01-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNextLTW01-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTW01';
    src: url('../fonts/AvenirNextLTW01-UltraLight.woff2') format('woff2'),
        url('../fonts/AvenirNextLTW01-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
